#header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  #header {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #header {
    font-size: 6vw;
  }
}
