* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Finger Paint", cursive;
  /* font-family: 'Lato', sans-serif; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* overflow: hidden; */
  height: 100vh;
  position: relative;
}
.choosen-category{
    position: absolute;
    top: 10px;
    left: 5vw;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
/* .winratio{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
} */
#button-play {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 2.5vw;
  top: 2.5vh;
  z-index: 200;
  /* background-color: aquamarine; */
  border-radius: 50px;
}
#button-play img {
  height: 100%;
  width: auto;
}
#button-play:hover {
  cursor: pointer;
}
#container {
  background: url(./assets/background1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
  color: white;
  font-size: 40px;
  /* margin-top: 10px; */
}
#image {
  margin-top: 5vh;
  position: relative;
  width: 50vw;
  height: 48vh;
  min-height: 300px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-image {
    /* background-color: aquamarine;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px; */
  max-height: 40vh;
  width: auto;
}
#word {
  min-width: 10vw;
  height: 10vh;
  padding: 15px 30px 15px 30px;
  /* background-color: rgb(199, 199, 199); */
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  white-space: pre-wrap;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  min-height: 78px;
}
#keyboard1 {
    /* background-color: aliceblue; */
  margin-top: 20px;
  display: flex;
  max-width: 950px;
  justify-content: center;
  /* background-color: brown; */
  width: 80vw;
  height: 10vh;
  min-height: 60px;
  & .button{
    width: 10%;
  }
  & .button-green{
    width: 10%;
  }
  & .button-red{
    width: 10%;
  }
}
#keyboard2 {
  display: flex;
  max-width: 950px;
  justify-content: center;
  /* background-color: rgb(194, 156, 156); */
  width: 80vw;
  height: 10vh;
  margin-top: 3px;
  min-height: 60px;
  & .button{
    width: 11%;
  }
  & .button-green{
    width: 11%;
  }
  & .button-red{
    width: 11%;
  }
}
#keyboard3 {
  display: flex;
  justify-content: center;
  max-width: 950px;
  /* background-color: rgb(59, 38, 38); */
  width: 80vw;
  height: 10vh;
  margin-top: 3px;
  min-height: 60px;
  & .button{
    width: 12.5%;
  }
  & .button-green{
    width: 12.5%;
  }
  & .button-red{
    width: 12.5%;
  }
}
.button {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  height: 100%;
  min-height: 60px;
  /* min-width: 60px; */
  /* border-radius: 10px; */
  /* background-color: rgba(199, 161, 78, 0.692); */
  /* box-shadow: 6px 5px 16px -16px rgb(0, 0, 0); */
  transition: all 0.2s;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  /* transition: opacity 0.6s ease; */
}
.button:hover {
  /* background-color: rgba(255, 255, 255, 0.089); */
  animation: vibrate 0.8s linear infinite;
  font-size: 70px;
}
@keyframes vibrate {
  0% {
    transform: rotate(8deg);
  }
  /* 25% { transform: rotate(8ged); }  */
  50% {
    transform: rotate(-13deg);
  }
  /* 75% { transform: rotate(8deg); } */
  100% {
    transform: rotate(8deg);
  }
}
.button:active {
  font-size: 85px;
}
.button-green {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  height: 100%;
  border-radius: 10px;
  color: rgb(68, 206, 80);
  border: 3px solid green;
  border-radius: 50px;
  /* box-shadow: 6px 11px 26px -16px rgb(0, 0, 0); */
  transition: all 0.2s;
  user-select: none;
  cursor: default;
  min-height: 60px;
  /* text-decoration: underline solid 5px; */
}
.button-red {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  height: 100%;
  /* border-radius: 50px; */
  color: rgb(248, 68, 44);
  /* border: 4px solid red; */
  /* box-shadow: 6px 11px 26px -16px rgb(0, 0, 0); */
  transition: font-size 0.2s linear, opacity 1.2s ease;
  user-select: none;
  /* cursor: pointer; */
  left: 10px;
  opacity: 0.6;
  min-height: 60px;
  /* display: none; */
  /* text-decoration: line-through; */
  /* background-color: blue; */
}

/* ---------------------------------------------------------------------------------- */
#container1 {
  background: url(./assets/background1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  margin: 0 auto;
  box-shadow: 3px 10px 30px -8px rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 10px;
  z-index: 4;
}
#article1 {
  grid-row: 3 / 10;
  grid-column: 1 / 21;
  color: white;
  font-size: 100px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 20px; */
  gap: 3%;
  flex-flow: wrap;
  /* box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1); */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}
.ancor1-box {
  grid-column: 2 / 20;
  grid-row: 12 / 18;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.first-ancor1-box {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.secound-ancor1-box {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.ancor1 {
  width: 31.33%;
  height: 100%;
  /* background-color: rgb(216, 216, 216); */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 50px;
  text-decoration: underline solid 2px;
  text-underline-offset: 15px;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  /* box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1); */
}

.ancor1:hover {
  animation: vibrate1 0.8s linear infinite;
  font-size: 60px;
}
@keyframes vibrate1 {
  0% {
    transform: rotate(5deg);
  }
  /* 25% { transform: rotate(8ged); }  */
  50% {
    transform: rotate(-5deg);
  }
  /* 75% { transform: rotate(8deg); } */
  100% {
    transform: rotate(5deg);
  }
}
.ancor1:active {
  font-size: 85px;
}
/* .ancor1:nth-child(2){
    grid-row: 12 / 14;
    grid-column: 3 / 8;
}
.ancor1:nth-child(3){
    grid-row: 12 / 14;
    grid-column: 8 / 13;
}
.ancor1:nth-child(4){
    grid-row: 12 / 14;
    grid-column: 13 / 18;
}
.ancor1:nth-child(5){
    grid-row: 14 / 16;
    grid-column: 3 / 8;
}
.ancor1:nth-child(6){
    grid-row: 14 / 16;
    grid-column: 8 / 13;
}
.ancor1:nth-child(7){
    grid-row: 14 / 16;
    grid-column: 13 / 18;
} */
#animation-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 100;
  position: absolute;
  top: 0px;
  display: none;
  transition: background-color 1.7s ease-in;
}
.you-lost {
  transition: all 0.6s linear;
  font-size: 30px;
  width: 500px;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 13px 13px 24px 0px rgb(39, 39, 43);
}
.you-lost-blank {
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yes-or-no {
  width: 30vw;
  height: 35vh;
  opacity: 0;
  display: none;
  /* width: 60vw;
    height: 70vh; */
  top: 30px;
  /* background-color: grey; */
  /* display: grid; */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  transition: all 1.2s ease;
}
#yn-info {
  padding: 20px 10px;
  -webkit-backdrop-filter: blur(6px);  grid-column: 2 /10;
  backdrop-filter: blur(6px);  grid-column: 2 /10;
  border: 4px solid white;
  grid-row: 3 / 7;
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  font-size: 25px;
  border-radius: 30px;
  box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1);
  transition: all 1.2s ease;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
#y-button {
  /* background-color: green; */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color: white;
  border: 4px solid green;

  grid-column: 2 / 6;
  grid-row: 7 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 20px;
  box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1);
}
#n-button {
  /* background-color: red; */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color: white;
  border: 4px solid red;
  grid-column: 6 / 10;
  grid-row: 7 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 20px;
  box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1);
}
.y-n-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 20px;
  box-shadow: 14px 14px 13px -12px rgba(0, 0, 0, 1);
  transition: background-color 0.3s linear;
  user-select: none;
}
.y-n-button a {
  padding: 4vh 10vw;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.y-n-button:hover {
  box-shadow: inset 2px 2px 32px -20px rgba(0, 0, 0, 1) !important;
  cursor: pointer;
}
.y-n-button:active {
  box-shadow: inset 2px 2px 32px -20px rgba(0, 0, 0, 1) !important;
  font-size: 40px !important;
}
/* ----------------------------------------------------------------- */
.temp-displays {
  height: 90px;
  min-width: 50px;
  /* background-color: aqua; */
  border-radius: 10px;
}
.temp-upper-part {
  height: 65px;
  width: 100%;
  /* background-color: blue; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.4s linear;
}
.temp-lower-part {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -45px;
}
/* @media screen and (max-width: 960px) {
  #header {
    font-size: 5vw;
  }
  #button-play {
    height: 8vw;
    width: 8vw;
    border-radius: 15vw;
  }
  #button-play img {
    height: 8vw;
    width: 8vw;
  }
}
@media screen and (max-height: 920px) {
  #image-image {
    height: 48vh;
  } */
/* #image{
        display: none;
    } */
/* body{
        height: 100vh;
        overflow: auto;
    } */
/* }
@media screen and (max-height: 720px) {
  #container {
    overflow: auto;
  }
} */
@media screen and (max-width: 1000px) {
  .ancor1-box {
    flex-flow: row;
    gap: 1%;
  }
  .first-ancor1-box {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }
  .secound-ancor1-box {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }
  .ancor1 {
    height: 30%;
    width: 100%;
    font-size: 45px;
    &:hover {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 767px) {
    #article1{
        font-size: 85px;
        grid-row: 2 / 8;
    }
    .ancor1-box{
        flex-flow: column;
        grid-row: 8 / 20;
    }
    .ancor1{
        font-size: 40px;
    }
    .button{

    }
}
@media screen and (max-width: 767px) {
    #article1{
        font-size: 60px;
        grid-row: 1 / 7;
    }
    #header{
        font-size: 30px;
    }
    .button{
        font-size: 7vw;
    }
    .button-red{
        font-size: 7vw;
    }
    .button-green{
        font-size: 7vw;
    }
    #keyboard1{
        width: 100vw;
    }
    #keyboard2{
        width: 100vw;
    }
    #keyboard3{
        width: 100vw;
    }
    #yn-info{
      font-size: 5vw !important;
    }
    .you-lost{
      width: 250px;
      height: 100px;
    }
}
@media screen and (max-width: 500px) {
    #word{
        font-size: 30px;
    }
    .temp-displays{
        min-width: 8vw;
    }
    #header{
        font-size: 6vw;
    }
    #button-play{
        width: 40px;
        height: 40px;
    }
    .choosen-category{
      font-size: 14px;
    }
    .y-n-button{
      font-size: 9vw !important;
    }
}