* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Finger Paint", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
}
#container1 {
  background: url(./assets/background1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  margin: 0 auto;
  box-shadow: 3px 10px 30px -8px rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 10px;
  z-index: 4;
}
